doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title SnapGram Seng 513 Project
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    // Add custom CSS here
   
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') SnapGram
        .navbar-collapse.collapse
          ul.nav.navbar-nav 
          form.navbar-form.navbar-right(role='form', action='http://localhost:1337/signin', method='post')
            .form-group
              input.form-control(type='text', name='email', placeholder='Email')
            .form-group
              input.form-control(type='password', name='password', placeholder='Password')
            button.btn.btn-success(type='submit') Sign in
        // /.navbar-collapse
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      - if (userTest == 1){
      div.alert.alert-danger
        !{'Invalid Email'}
      - }
      - else if (passTest == 1){
      div.alert.alert-danger
        !{'Invalid Password'}
      - }
      .container
        h1 Welcome to SnapGram
        p Start sharing today&excl;
        p
        a.btn.btn-primary.btn-primary(href='/users/new', role='button') Sign up &raquo
    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 The Future of Photo sharing
    // Services
    #services.services
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            h2 SnapGram Services
            hr
        .row
          .col-md-2.col-md-offset-2.text-center
            .service-item
              h4 Photo sharing made easy
              p Just simply point your browser to your photo collection
          .col-md-2.text-center
            .service-item
              h4 Social Networking
              p Follow your friends and see what they&apos;re uploading
          .col-md-2.text-center
            .service-item
              h4 Ease of use
              p Sign up takes less than a minute&excl; Sign up today to see how easy it is&excl;
          .col-md-2.text-center
            .service-item
              h4 Mutliple photo uploads
              p With our photo upload form&comma; you can upload mutlpile images at once&excl;
    // /Services
      hr
      footer
        p &copy; Company 2014
    // /container
    //

       Bootstrap core JavaScript
          ================================================== 
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
